$map: (gradient: rgba(255, 255, 255, 0.5), plain: white, button: teal);

@function colorMap($key) {
    @return map-get($map, $key);
}

@mixin mobile {
    @media (max-width: 770px) {
        @content;
    }
}


.login {
    display: flex;
    width: 100vw; height: 100vh;
    background: linear-gradient(colorMap(gradient), colorMap(gradient)), url('https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    center;
    background-size: cover;
    align-items: center;
    justify-content: center;

    &-wrapper {
        width: 25%;
        padding: 20px;
        background-color: colorMap(plain);
        border-radius: 5%;
        @include mobile { width: 75%; }

        h1 {
            font-size: 25px;
            font-weight: 300;
        }
    }
}